<mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required>
          <mat-error *ngIf="registerForm.controls['name'].hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
            Invalid email format
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
            Password is required
          </mat-error>
          </mat-form-field>
        
          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
        
        <p>Already have an account? then login</p>
        <button mat-raised-button color="primary" routerLink="/login" >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
  